body > nav {
  position: absolute !important;
  top: 1em;
  width: 100%;
  li a {
    color: $link-color !important;
    &:hover { color: $link-color-hover !important; }
  }
}

#search_listbox {
  display: none;
  left: 10px;
  width: 216px;
}

body {
  padding-top: 60px;
  background-image: url(/img/top.png);
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: 80%;
}
